body{
    margin: 0;
}

.desktop{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 100vh;
    justify-content: space-between;
}
    .app__img{
        width: 5vw;
    }

    .desktop__bar{
        background-color: white;
    }


    .desktop__apps{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        margin-left: 0.5vw;
        margin-top: 1vh;
    }

.app {
    display: none;

}

.app__label{
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.salir-app{
    display: none;
}

.desktop__bar{
    display: flex;
    align-items: center;

    min-height: 8vh;
    justify-content: flex-start;
}

    .bar__icons{
        margin: 1vh;
        max-width: 60px;
        max-width: 60px;
        min-width: 60px;
        min-height: 60px;
    }

#app1:checked ~ .content #iframe1,
#app2:checked ~ .content #iframe2,
#app3:checked ~ .content #iframe3{
    position:absolute;
    top: 15vh;
    display: flex;
    width: 75vw;
    height: 70vh;
    border: none;
    border-radius: 15px;
    margin-left: 13vw;
}

#app1:checked ~ #salir-app,
#app2:checked ~ #salir-app,
#app3:checked ~ #salir-app{
    display: block;
    position: absolute;
    padding: 10px;
    margin: 5px;
    background: #ff0000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 15.5vh;
    right: 13vw;
    z-index: 1001;
}

@media (max-width:850px){

#app1:checked ~ .content #iframe1,
#app2:checked ~ .content #iframe2,
#app3:checked ~ .content #iframe3{
    display: flex;
    width: 99vw;
    height: 70vh;
    border: none;
    border-radius: 15px;
    margin: 2px;
    }

.desktop__bar{

}

#app1:checked ~ #salir-app,
#app2:checked ~ #salir-app,
#app3:checked ~ #salir-app{
    display: block;
    position: absolute;
    padding: 10px;
    margin: 5px;
    background: #ff0000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 17vh;
    right: 5vw;
    z-index: 1001;
}

    .app__img{
        width: 20vw;
    }

    .desktop__apps{
        display: flex;
        flex-direction: row;
        gap: 4vh;
        margin-left: 0.5vw;
        margin-top: 1vh;
    }

    .bar__icons{
        width: 12vw;
    }




}







